* {
    margin: 0;
    padding: 0;
}

html {
    line-height: 1.15;
    box-sizing: border-box;
}

div.navbar {
    font-size: 400%;
    text-align: right;
    color: #000000;
}

div.information {
    font-family: 'Roboto', sans-serif;
    text-align: left;
}

body {
    background: radial-gradient(circle, #FFEEDB, #4C3B4D);
}